body{
  background-color: #001f3f;
}
.grid-container {
  background-color: #001f3f;
  width: 450px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  height: 650px;
  padding: 10px;
  margin: 3% auto;
}
.grid-item0,
.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4,
.grid-item5,
.grid-item6,
.grid-item7,
.grid-item8,
.grid-item9,
.grid-item10,
.grid-item11 {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  /* padding: 20px; */
  font-size: 30px;
  box-shadow: 10px 10px;
  border-radius: 5px;
  padding: 1px;
  text-align: center;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}
@media screen and ( max-width: 700px) {
  .grid-container{
    width: 90%;
    height: 500px;
  }
}
.grid-item0 .front,
.grid-item1 .front,
.grid-item2 .front,
.grid-item3 .front,
.grid-item4 .front,
.grid-item5 .front 
.grid-item6 .front 
.grid-item7 .front 
.grid-item8 .front 
.grid-item9 .front 
.grid-item10 .front,
.grid-item11 .front  {
  /* background: red; */
}
.grid-item0 .back,
.grid-item1 .back,
.grid-item2 .back,
.grid-item3 .back,
.grid-item4 .back,
.grid-item5 .back,
.grid-item6 .back,
.grid-item7 .back,
.grid-item8 .back,
.grid-item9 .back,
.grid-item10 .back,
.grid-item11 .back {
  /* background: blue; */
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.grid-item0.flipped,
.grid-item1.flipped,
.grid-item2.flipped,
.grid-item3.flipped,
.grid-item4.flipped,
.grid-item5.flipped,
.grid-item6.flipped,
.grid-item7.flipped,
.grid-item8.flipped,
.grid-item9.flipped,
.grid-item10.flipped,
.grid-item11.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.grid-item0 div,
.grid-item1 div,
.grid-item2 div,
.grid-item3 div,
.grid-item4 div,
.grid-item5 div, 
.grid-item6 div,
.grid-item7 div, 
.grid-item8 div,
.grid-item9 div, 
.grid-item10 div,
.grid-item11 div  {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 140px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
