.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    color: white;
}

html, body {
  background-color: white;
  margin: 10px;
}

.container > div:nth-child(1n) {
  background-color: #222723;	
}

.pic{
    height: 100%;
    width: 100%;
}
.nav-info{
    background-color: blue;
    height: 40%;
    width: auto;
}
.border-profile{
    height: 60%;
    width: 40%;
    background-color: white;
    margin: auto;
    border-radius: 50%;
    padding: 3px;
    
}
.kaleem{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    margin: auto;
}
.pic-border{
    padding: 3px;
    background-color: orange;
    height: 100%;
    width: 100%;
}
.profile-nav{
    padding: 3px;
}














