*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-color: #333333;
    background-image: url("https://images.unsplash.com/photo-1539448455561-25e1e5821f70?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  }
  nav{
    background: #1E1F26;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #349873;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 10px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #1D1D1D;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #349873;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  .kaleem{
    height: 110px;
    width: 100px;
    transition: transform .2s;
    margin-top: 1px;
}
.info-text {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: auto auto auto;
  /* padding: 10px; */
  width: 400px;
  height: 300px;
  margin: 100px auto;
  text-align: center;
}
.info-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  width: 110px;
  height: 110px;
  text-align: center;
}
.kaleem:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.github{
  width: 90px;
  height: 90px;
  background-color: none;
  margin-left: auto;
}
.linkedin{
  width: 90px;
  height: 90px;
  background-color: none;
  margin: auto;
}
.facebook{
  width: 90px;
  height: 90px;
  background-color: none;
  margin: auto;
  /* border: 2px solid black; */
}
.instagram{
  width: 90px;
  height: 90px;
  margin: auto;
}
.memory:hover{
  background-color: #349873;
}
.resume:hover{
  background-color: #349873;
}