*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-color: #333333;
    background-image: url("https://images.unsplash.com/photo-1539448455561-25e1e5821f70?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  }
  nav{
    background: #1E1F26;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #349873;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 10px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #1D1D1D;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #349873;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  .kaleem{
    height: 110px;
    width: 100px;
    transition: transform .2s;
    margin-top: 1px;
}
.info-text{
  width: 300px;
  height: 375px;
  background-color: beige;
  border: 3px solid black;
  margin: 5% auto;
  /* opacity: 0.8; */
  text-align: center;
}
.kaleem:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}
.projects{
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  text-align: center;
  background-color: beige;
  border: 5px solid black;
  opacity: 0.8;
}
.github{
  width: 9%;
  height: 70%;
  background-color: none;
  /* border: 2px solid black; */
  float: left;
  margin-left: 35% ;
}
.git{
  width: 80%;
  height: 100%;
}
.linkedin{
  width: 10%;
  height: 70%;
  background-color: none;
  /* border: 2px solid black; */
  float: right;
  margin-right: 35%;
}
.linked{
  height: 110%;
  width: 90%;
}
.twitter{
  width: 10%;
  height: 70%;
  background-color: none;
  margin: auto;
  /* border: 2px solid black; */
  margin-left: 25%;
  position: absolute;
  top: 0%;
}
.tweet{
  height: 100%;
  width: 90%;
}
.facebook{
  width: 10%;
  height: 70%;
  background-color: none;
  margin: auto;
  /* border: 2px solid black; */
  margin: auto;
}
.facebk{
  height: 100%;
  width: 60%;
}
.instagram{
  width: 10%;
  height: 70%;
  background-color: none;
  /* border: 2px solid black; */
  position: absolute;
  top: 0%;
  right: 25%;
}
.insta{
  width: 50%;
  height: 100%;
}
/* h4{
  color: white;
} */
