*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* text-align: center; */
}
h1, h2, h3{
  text-align: center;
}
.HeaderDiv{
  background-color: #349873;
  width: 300px;
  text-align: center;
  margin: auto;
}
body{
  font-family: serif; 
  background-color: #1D1D1D;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav{
  background: #1E1F26;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 10px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 22px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #FEB81D;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1D1D1D;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0;
  }
  a.active,a:hover{
    background: #FEB81D;
    transition: .5s;
  }
}
.grid-container {
  display: grid;
  grid-gap: 10px 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* padding: 10px; */
  max-width: 350px;
  max-height: 600px;
  margin: 4% auto;
  text-align: center;
}
.grid-item {
  /* background-color: rgba(255, 255, 255, 0.8); */
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5px;
  width: 100%;
  margin-top: 1%;
  max-height: 650px;
  text-align: center;
  border-radius: 5px;
}
.skill-html{
  width: 90%;
  height: 90%;
  margin: 1% auto;
  background-color: none;

}
.skill-css{
  width: 90%;
  height: 90%;
}
.skill-js{
  width: 90%;
  height: 90%;
}
.skill-c{
  width: 90%;
  height: 90%;
}
.skill-php{
  width: 90%;
  height: 90%;
}
.skill-sql{
  width: 90%;
  height: 90%;
}
.skill-mongodb{
  width: 90%;
  height: 90%;
}
.node{
  width: 90%;
  height: 90%;
}
.docker{
  width: 90%;
  height: 90%;
}

.box{
  max-width: 100%;
  /* height: auto; */
  margin: 8% auto;
  text-align: center;
  /* border: 2px solid white; */
  border-radius: 5px;
}
.text {
  display: grid;
  grid-gap: 10px 10px;
  background-color: none;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  margin: 1% auto;
  padding-top: 50px;
}
.info-item {
  /* display: grid; */
  /* grid-gap: 30px; */
  background-color: white;
  /* border: 3px solid white; */
  padding-top: 10px;
  width: 250px;
  height: 250px;
  text-align: center;
  border-radius: 5px;
  margin: 1% auto;
}

