*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
    background-image: url("https://images.unsplash.com/photo-1539448455561-25e1e5821f70?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
    color: #000000;
  }
  nav{
  background: #1E1F26;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #349873;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 10px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1D1D1D;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #349873;
  }
  #check:checked ~ ul{
    left: 0;
  }
}
  .skills-text{
    background-color: #F5F5DC;
    width: 320px;
    height: 350px;
    margin: 10% auto;
    text-align: center;
    text-decoration-color: white;
    border: 3px solid black;
    /* opacity: 0.8; */
  }
  .skills-div{
      position: fixed;
      width: 100%;
      height: 12%;
      background-color: none;
      text-align: center;
      bottom: 0;
  }

  .html-div{
  width: 10%;
  height: 70%;
  background-color: none;
  /* border: 2px solid black; */
  float: left;
  margin-left: 20% ;
}
.skill-html{
  width: 50%;
  height: 100%;
}
.css-div{
  width: 10%;
  height: 70%;
  background-color: none;
  /* border: 2px solid black; */
  position: absolute;
  left: 30%;
}
.skill-css{
  height: 100%;
  width: 40%;
}
.js-div{
  width: 10%;
  height: 70%;
  background-color: none;
  margin: auto;
  /* border: 2px solid black; */
  left: 40%;
  position: absolute;
  top: 0%;
}
.skill-js{
  height: 100%;
  width: 40%;
}
.c-div{
  width: 10%;
  height: 70%;
  background-color: none;
  position: absolute;
  /* border: 2px solid black; */
  right: 40%;
}
.skill-c{
  height: 100%;
  width: 60%;
}
.php-div{
  width: 10%;
  height: 70%;
  background-color: none;
  /* border: 2px solid black; */
  position: absolute;
  top: 0%;
  right: 30%;
}
.skill-php{
  width: 50%;
  height: 100%;
}
.sql-div{
  width: 10%;
  height: 80%;
  background-color: none;
  /* border: 2px solid black; */
  position: absolute;
  top: 0%;
  right: 20%;
}
.skill-sql{
  width: 110%;
  height: 110%;
}